<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lagou.dao.CourseContentMapper">

    <!-- 课时表字段信息 -->
    <sql id="lesson_column_list">
        cl.id as lessonId,
        cl.course_id,
        cl.section_id,
        cl.theme,
        cl.duration,
        cl.is_free,
        cl.order_num,
        cl.status
    </sql>

    <!-- 一对多配置,一个章节下有多个课时 -->
    <resultMap id="BaseResultMap" type="courseSection">
        <result property="id" column="id"></result>
        <result property="courseId" column="course_id"></result>
        <result property="sectionName" column="section_name"></result>
        <result property="description" column="description"></result>
        <result property="orderNum" column="order_num"></result>
        <result property="status" column="status"></result>
        <!-- 使用 collection,配置一对多关系 -->
        <collection property="lessonList" ofType="courseLesson">
            <id property="id" column="lessonId"></id>
            <result property="courseId" column="course_id"></result>
            <result property="sectionId" column="section_id"></result>
            <result property="theme" column="theme"></result>
            <result property="duration" column="duration"></result>
            <result property="isFree" column="is_free"></result>
            <result property="orderNum" column="order_num"></result>
            <result property="status" column="status"></result>
        </collection>
    </resultMap>

    <!-- 查询课程下的章节与课时信息 -->
    <select id="findSectionAndLessonByCourseId" parameterType="int" resultMap="BaseResultMap">
        SELECT
        cs.*,
        <include refid="lesson_column_list"/>
        FROM course_section cs
        LEFT JOIN course_lesson cl ON cs.id = cl.section_id
        WHERE cs.course_id = #{courseId} and cs.is_del = 0 ORDER BY cs.order_num
    </select>

    <!-- 根据课程id查询课程信息 -->
    <select id="findCourseByCourseId" parameterType="int" resultType="course">
        select id,course_name from course where id = #{courseId}
    </select>

    <!-- 新增章节信息 -->
    <insert id="saveSection" parameterType="courseSection">
        INSERT INTO course_section(
            course_id,
            section_name,
            description,
            order_num,
            STATUS,
            create_time,
            update_time
        )VALUES(#{courseId},#{sectionName},#{description},#{orderNum},#{status},#{createTime},#{updateTime})
    </insert>

    <!-- 更新章节信息-->
    <update id="updateSection" parameterType="courseSection">
        UPDATE course_section
        <trim prefix="SET" suffixOverrides=",">
            <if test="sectionName != null and sectionName != ''">
                section_name = #{sectionName},
            </if>
            <if test="description != null and description != ''">
                description = #{description},
            </if>
            <if test="orderNum != null and orderNum != '' or orderNum == 0">
                order_num = #{orderNum},
            </if>
            <if test="updateTime != null">
                update_time=#{updateTime}
            </if>
        </trim>
        <where>
            <if test="id != null">id = #{id}</if>
        </where>
    </update>

    <!-- 修改状态信息 -->
    <update id="updateSectionStatus" parameterType="courseSection">
        update course_section set status = #{status},update_time = #{updateTime} where id = #{id}
    </update>

    <!-- 新增课时信息 -->
    <insert id="saveLesson" parameterType="courseLesson">
        INSERT INTO course_lesson (
            id,course_id,
            section_id,
            theme,
            duration,
            is_free,
            order_num,
            create_time,
            update_time
        )VALUES(#{id},#{courseId},#{sectionId},#{theme},#{duration},#{isFree},#{orderNum},
                #{createTime},#{updateTime})
    </insert>

    <!-- 修改课时信息 -->
    <update id="updateLesson" parameterType="courseLesson">
        UPDATE course_lesson
        <trim prefix="SET" suffixOverrides=",">
            <if test="theme != null and theme != ''">
                theme = #{theme},
            </if>
            <if test="duration != null">
                duration = #{duration},
            </if>
            <if test="orderNum != null and orderNum != '' or orderNum == 0">
                order_num = #{orderNum},
            </if>
            <if test="isFree != null">
                is_free = #{isFree},
            </if>
            <if test="updateTime != null">
                update_time=#{updateTime}
            </if>
        </trim>
        <where>
            <if test="id != null">id = #{id}</if>
        </where>
    </update>
</mapper>