<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lagou.dao.CourseMapper">

    <!-- 多条件查询课程信息 -->
    <select id="findCourseByCondition" parameterType="courseVo" resultType="course" >
        select * from course where is_del = 0
        <if test="null != courseName and '' != courseName">
            and course_name like concat('%',#{courseName},'%')
        </if>
        <if test="null != status">
            and status = #{status}
        </if>
    </select>

    <!-- 添加课程信息 -->
    <insert id="saveCourse" parameterType="course">
        INSERT INTO course(
            course_name,
            brief,
            preview_first_field,
            preview_second_field,
            course_img_url,
            course_list_img,
            sort_num,
            price,
            discounts,
            sales,
            discounts_tag,
            course_description_mark_down,
            create_time,
            update_time
        ) VALUES(#{courseName},#{brief},#{previewFirstField},#{previewSecondField},#{courseImgUrl},
                 #{courseListImg},#{sortNum},#{price},#{discounts},#{sales},#{discountsTag},
                 #{courseDescriptionMarkDown},#{createTime},#{updateTime})
        <!-- 获取最后一次insert的id -->
        <selectKey resultType="int" order="AFTER" keyProperty="id">
            select LAST_INSERT_ID()
        </selectKey>
    </insert>

    <!-- 添加教师信息 -->
    <insert id="saveTeacher" parameterType="teacher">
        INSERT INTO teacher(
            course_id,
            teacher_name,
            position,
            description,
            create_time,
            update_time
        ) VALUES(#{courseId},#{teacherName},#{position},#{description},#{createTime},#{updateTime})
    </insert>

    <!-- 根据id查询课程和讲师信息 -->
    <select id="findCourseById" parameterType="int" resultType="courseVo">
        select c.*,t.teacher_name,t.position,t.description
        from course c left join teacher t on c.id = t.course_id
        where c.id = #{id}
    </select>

    <!-- 修改课程信息 -->
    <update id="updateCourse" parameterType="course">
        UPDATE course
        <trim prefix="SET" suffixOverrides=",">
            <if test="courseName != null and courseName != ''">
                course_name = #{courseName},
            </if>
            <if test="brief != null and brief != ''">
                brief=#{brief},
            </if>
            <if test="previewFirstField != null and previewFirstField != ''">
                preview_first_field=#{previewFirstField},
            </if>
            <if test="previewSecondField != null and previewSecondField != ''">
                preview_second_field=#{previewSecondField},
            </if>
            <if test="courseImgUrl != null and courseImgUrl != ''">
                course_img_url=#{courseImgUrl},
            </if>
            <if test="courseListImg != null and courseListImg != ''">
                course_list_img=#{courseListImg},
            </if>
            <if test="sortNum != null">
                sort_num=#{sortNum},
            </if>
            <if test="price != null">
                price=#{price},
            </if>
            <if test="discounts != null">
                discounts=#{discounts},
            </if>
            <if test="sales != null or sales==0">
                sales=#{sales},
            </if>
            <if test="discountsTag != null and discountsTag != ''">
                discounts_tag=#{discountsTag},
            </if>
            <if test="courseDescriptionMarkDown != null and courseDescriptionMarkDown != ''">
                course_description_mark_down=#{courseDescriptionMarkDown},
            </if>
            <if test="updateTime != null">
                update_time=#{updateTime},
            </if>
        </trim>
        <where>
            <if test="id != null">id=#{id}</if>
        </where>
    </update>

    <!-- 修改教师信息 -->
    <update id="updateTeacher" parameterType="teacher">
        UPDATE teacher
        <trim prefix="SET" suffixOverrides=",">
            <if test="teacherName != null and teacherName != ''">
                teacher_name = #{teacherName},
            </if>
            <if test="position != null and position != ''">
                position = #{position},
            </if>
            <if test="description != null and description != ''">
                description = #{description},
            </if>
            <if test="updateTime != null">
                update_time=#{updateTime}
            </if>
        </trim>
        <where>
            <if test="courseId != null">
                course_id = #{courseId}
            </if>
        </where>
    </update>

    <!-- 课程状态管理 -->
    <update id="updateCourseStatus" parameterType="course">
        update course set status = #{status},update_time = #{updateTime} where id = #{id}
    </update>

</mapper>