<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lagou.dao.UserMapper">

    <!-- 用户分页&条件查询 -->
    <select id="findAllUserByPage" parameterType="userVo" resultType="user">
        select * from user where is_del = 0
        <if test="null != username and '' != username ">
            and phone like concat('%',#{username},'%')
        </if>
        <if test="null != startCreateTime and null != endCreateTime">
            and create_time between #{startCreateTime} and #{endCreateTime}
        </if>
    </select>

    <!-- 修改用户状态 -->
    <update id="updateUserStatus" parameterType="user">
        update user set status = #{status},update_time = #{update_time} where id = #{id}
    </update>

    <!-- 用户登录 -->
    <select id="login" parameterType="user" resultType="user">
        select * from user where phone = #{phone}
    </select>
    
    <!-- 删除用户关联的角色信息 -->
    <delete id="deleteUserContextRole" parameterType="int">
        delete from user_role_relation where user_id = #{userId}
    </delete>

    <!-- 分配角色 -->
    <insert id="userContextRole" parameterType="com.lagou.domain.User_Role_relation">
        insert into user_role_relation values(null,#{userId},#{roleId},#{createdTime},#{updatedTime},
                                              #{createdBy},#{updatedby})
    </insert>

    <!-- 分配角色(回显) -->
    <!-- 1.根据用户id查询关联的角色信息 -->
    <select id="findUserRoleByUserId" parameterType="int" resultType="role">
        select * from roles r inner join user_role_relation ur on r.id = ur.role_id where ur.user_id = #{userId}
    </select>

    <!-- 2.根据角色id集合查询对应的顶级菜单信息 -->
    <select id="findParentMenuByRoleId" parameterType="java.util.List" resultType="menu">
        SELECT DISTINCT m.*
        FROM menu m inner join role_menu_relation rm on m.id = rm.menu_id
        where m.parent_id = -1 and rm.role_id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <!-- 3.根据顶级菜单id查询对应的子级菜单信息 -->
    <select id="findSubMenuByPid" parameterType="int" resultType="menu">
        select * from menu where parent_id = #{pid}
    </select>

    <!-- 4.根据角色id查询对应的资源信息 -->
    <select id="findResourceByRoleId" parameterType="java.util.List" resultType="resource">
        select DISTINCT r.*
        from resource r inner join role_resource_relation rr on r.id = rr.resource_id
        where rr.role_id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
</mapper>